@import '../../_variables.scss';

/* Game Container Styles */
.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1.8fr 0.1fr;
  gap: $gap-base;
  padding: $padding-base;
  height: 100%;
  background-color: $dark-background;
}

/*Element List (Draggable Tags)*/

.element-list {
  grid-column: 1 / 2;
  // border: 1px solid $border-color;
  padding: 0 $padding-base;
  border-radius: $border-radius-base;
  // background-color: $light-background;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.element-list ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.tags-message {
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
  color: $text-muted;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.drop-zone.incorrect {
  border-color: red;
}

/* Draggable tag styles */
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 10px 0;
  height: 40px;
  // padding: 1px;
  border: 1px dashed $border-color;
  border-radius: $border-radius-base;
  cursor: grab;
  background-color: $dark-background;
  color: $primary-color;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    transform 0.4s ease,
    background-color 0.3s ease;
  font-family: $font-monospace;
  font-size: 1.2rem;
  width: 96%;
  box-shadow:
    rgba(43, 43, 209, 0.418) 0px 50px 100px -20px,
    rgba(10, 8, 143, 0.3) 0px 30px 60px -30px,
    rgba(34, 118, 202, 0.35) 0px -2px 6px 0px inset;

  &:hover {
    background-color: $light-background;
    border-color: $secondary-color;
  }
}

.element-list li.dragging {
  opacity: 0.6;
  // transform: rotate(3deg);
  background-color: #f0f0f0;
}

/*Drop Zones (Second Column)*/

.drop-zone-list {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 $padding-base;
  border-radius: $border-radius-base;
  // background-color: $light-background;
  height: 100%;
  // gap: 10px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid $border-color;
  border-radius: $border-radius-base;
  cursor: grab;
  background-color: $light-background;
  color: $primary-color;
  font-family: $font-monospace;
  font-size: 1.2rem;
  width: 100%;
  height: 54px;
  box-shadow:
    rgba(50, 50, 93, 0.35) 0px 40px 80px -15px inset,
    rgba(0, 0, 0, 0.5) 0px 25px 50px -20px inset;
}

/* Correct drop styling */
.correct {
  border-color: green;
}

/* Incorrect drop styling */
.incorrect {
  border-color: red;
}

.drop-message {
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
  color: $text-muted;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/*Code Preview (Third Column)*/

.code-example {
  grid-column: 3 / 4;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: $padding-base;
  border-radius: $border-radius-base;
  background-color: $light-background;
}

.code-message {
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
  color: $text-muted;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.code-example pre {
  background-color: $dark-background;
  padding: 15px;
  border-radius: $border-radius-base;
  overflow: auto;
  font-family: $font-monospace;
  height: 96%;
}
