@import '../../_variables.scss';

/* Game Container Styles */
.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: $gap-base;
  padding: $padding-base;
  height: 100%;
  background-color: $dark-background;
}

/*Element List (Draggable Tags)*/

.element-list {
  grid-column: 1 / 2;
  // border: 1px solid $border-color;
  padding: $padding-base;
  border-radius: $border-radius-base;
  background-color: $light-background;
}

.tags-message {
  font-size: 1.2rem;
  color: $text-muted;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Draggable tag styles */
.tag {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid $border-color;
  border-radius: 4px;
  cursor: grab;
  background-color: $dark-background;
  color: $primary-color;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  font-family: $font-monospace;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $light-background;
    border-color: $secondary-color;
  }
}

.element-list li.dragging {
  opacity: 0.6;
  transform: rotate(3deg);
  background-color: #f0f0f0;
}

/*Drop Zones (Second Column)*/

.drop-zone-list {
  grid-column: 2 / 3;
  // display: flex;
  // flex-direction: column;
  padding: $padding-base;
  border-radius: $border-radius-base;
  background-color: $light-background;
  // gap: 10px;
}

.drop-zone {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid $border-color;
  border-radius: 4px;
  cursor: grab;
  background-color: $dark-background;
  color: $primary-color;
  font-family: $font-monospace;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

.drop-message {
  font-size: 1.2rem;
  color: $text-muted;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/*Code Preview (Third Column)*/

.code-example {
  grid-column: 3 / 4;
  border: 1px solid $border-color;
  padding: $padding-base;
  border-radius: $border-radius-base;
  background-color: $light-background;
}

.code-message {
  font-size: 1.2rem;
  color: $text-muted;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.code-example pre {
  background-color: $dark-background;
  padding: 15px;
  border-radius: $border-radius-base;
  overflow: auto;
  font-family: $font-monospace;
  height: 96%;
}
